#matrix{
	width: 300px;
	display: flex;
	flex-wrap: wrap;
}
#matrix input{
	width: 80px;
	padding: 5px;
}
#determinant{
	font-size: 27px;
	color: green;
}
#result{
	padding: 5px 0;
	font-size: 25px;
	color: red;
}